* {
    box-sizing: border-box;
}

.column{
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: center;
}

#toolbar {
    background-color: #000;
    color: white;
    font-weight: 600;
}


#toolbar div h1{
    color: silver;
    font-family: 'Anton', sans-serif;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 50px;
    letter-spacing: 3px;
}

#toolbar div input{
    margin-top: 30px;
    margin-right: 50px;
    float: right;
}

#toolbar:after{
    content: "";
    display: table;
    clear: both;
}

