nav{
    height: 35px;
    background-image: linear-gradient(to right,silver,white,silver);
    padding: 0;
}

.contenedor {
    max-height: 70%;
    overflow: auto;
}

.menu {
    margin-top: 20px;
    margin-right: 50px;
}