html,body {
  padding: 0;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 0 120px;
  color: black;
  justify-content: center;
  text-align: center;
  background-image: url('assets/images/logo1.jpeg');
  background-repeat: no-repeat;  
  font-family: 'Anton', sans-serif;
}

header h1{
  text-shadow: 5px 5px 3px #555555;
  letter-spacing: 2px;
}

header h3{
  text-decoration: underline;
  text-shadow: 3px 3px #777777;
  margin-top: -20px;
}

header h1,h3{
  letter-spacing: 5px;
}

footer {
  background-image: linear-gradient(#cccccc,black);
  flex: 0 0 80px;
}
